.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-container {
    width: 90vw;
}

.about-details {

    @media (width>=900px) {
        flex: 2
    }
}

.img-wrapper {
    @media (width>=900px) {
        flex: 1
    }
}

.about-card {
    padding: 0.8rem 1rem;
    border: var(--card-border);
    border-radius: 0.6rem;
}

.about-card .skills {
    background: var(--bg-gradient);
}

.about-container p {
    font-size: 0.9rem;
}

.about-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}


.about-img {
    width: 32vw;
    /* display: none; */
}