.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 580px;
    gap: 1.4rem;

    @media (width>=900px) {
        width: 80vw;
        max-width: none;
    }
}

.about-details {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    height: 100%;
}

.about-details {

    @media (width>=900px) {
        flex: 2
    }
}

.img-wrapper {
    @media (width>=900px) {
        flex: 1
    }
}

.about-card {
    padding: 1.2rem;
    border-radius: 0.6rem;
    background: var(--bg-gradient);

    @media (width>=450px) {
        padding: 1.6rem;
        flex: 2;
    }
}

.top {
    flex-direction: row;
    justify-content: space-around;
    border-radius: 0.6rem;
    gap: 1.6rem;
}
.bottom {

    @media (width>=775px) {
        flex-direction: row;
    }
}

.skills {
    border: var(--card-border);
    background: none;
    flex: 2;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.skills-item {
    color: var(--text-main);
    border: var(--tag-border);
    padding: 0.4rem 1rem;
    border-radius: 0.6rem;
}

.about-container p,
li {
    font-size: 0.9rem;
}

.about-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.9rem;
    text-align: justify;
    flex: 2;
}

.img-wrapper {
    display: none;

    @media (width>=1200px) {
        display: flex;
        flex: 1;
        display: block;
        max-width: 100%;
        max-height: 100%;
        filter: saturate(0);
        transition: filter .3s ease;
    }
}

.img-wrapper:hover {
    filter: saturate();
}

.about-img {
    display: block;
    height: 100%;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 0.6rem;
}