.about-section {
    padding: 1rem;
}
.about {
    width: 88%;
    height: 80%;
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1.4rem;
    overflow: hidden;
}
.about-left,
.about-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: auto 0;
    padding: 0.8rem;
}
.about-left {
    flex: 2;
    gap: 1rem;
    align-items: start;
}
.about-right {
    flex: 1;
}
.about-card,
.about-card-story {
    width: 100%;
    border-radius: 0.6rem;
    padding: 1.6rem 2.2rem;
    overflow: hidden;
    height: max-content;
}
.about-card-story {
    background: linear-gradient(320deg, #0a0a0a 10%, #1a1a2e 90%, #16213e 100%);
}
.about-card {
    border: 0.125rem solid hsla(27, 63%, 92%, 0.1);
    position: relative;
}
.about-card-title {
    margin-bottom: 0.4rem;
    font-size: 1.1rem;
}
.about-details {
    font-size: 0.9rem;
}
.about-details ul {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}
.about-skill {
    display: flex;
    align-self: center;
    justify-content: center;
    border: 0.055rem solid hsla(27, 63%, 92%, 0.1);
    padding: 0.8rem 1.2rem;
    border-radius: 1rem;
    font-size: 0.9rem;
    transition: all 0.3s ease-in;
}
.about-skill:hover {
    border: 0.055rem solid  hsla(152, 100%, 44%, 0.8);
    background-color: hsla(152, 100%, 44%, 0.05);
    transform: translateY(-2px);
}
.pic-container {
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.section-pic {
    height: 100%;
    border: 1px solid #16213e;
    border-radius: 0.8rem;
}

.about-underline {
    width: 4rem;
    height: 0.2rem;
    border-radius: 0.2rem;
    background-color: wheat;
    margin-bottom: 1.2rem;
}