.contact-section {
    padding: 2rem;
}

.contact {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 80%;
    min-height: 70%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    padding: 1rem;
    gap: 1.4rem;
}
.contact-details {
    flex: 1;
    font-size: 1rem;
    background: linear-gradient(320deg, #0a0a0a 0%, #16213e 100%);
    height: 100%;
    padding: 2rem;
    border-radius: 0.6rem;
}
.contact-info {
    color: hsl(0, 0%, 75%);
    margin: 1rem;
    font-size: 0.9rem;
}
.contact-form {
    min-height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 2rem;
    padding: 2rem;
    border: 0.125rem solid hsla(27, 63%, 92%, 0.1);
    border-radius: 0.6rem;
}

.contact-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.contact-field input {
    padding: 0.6rem 1.4rem;
    border: none;
    background: none;
    border-bottom: 0.125rem solid hsla(27, 63%, 92%, 0.1);
    color: whitesmoke;
    font-size: 0.9rem;
    outline-style: none;
}

.contact-field input::after {
    border: none;
}