.home-section {
    background: linear-gradient(320deg, #0a0a0a 20%, #16213e 100%);
}

h2 {
    font-size: 2.8rem;
}

h4 {
    font-size: 1.2rem;
    color: hsla(25, 76%, 80%,90);
}

.biography-desc {
    max-width: 90%;
    max-height: inherit;
}

.hero {
    width: 85%;
    margin: 0 auto;
    background: none;
    display: flex;
    gap: 3rem;
    padding-top: 3rem;
}

.pic-container {
    width: 370px;
    height: 370px;
    overflow: hidden;
}

.profile-pic {
    flex: 1;
    width: 100%;
    border: 1px solid #16213e;
    border-radius: 0.8rem;
}

.socials{
    display: flex;
    gap: 0 1.5rem;
    color: wheat;
    font-weight: 600;
    /* color: hsla(152, 100%, 47%, 0.8); */
    font-weight: 600;
}

.biography {
    height: 90%;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 1.2rem;
}

.biography-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    margin-top: 0.8rem;
}
.cv-button,
.contact-button {
    max-width: fit-content;
    padding: 0.8rem 1.2rem;
    border-radius: 0.6rem;
    color: #0A0A0B;
    font-weight: 400;
    margin-bottom: 0.8rem;
    transition: all 0.3s ease-in;
}
.cv-button {
    background-color: hsla(152, 100%, 44%, 0.8);
    border: 0.125rem solid hsla(152, 100%, 44%, 0.20);
}
.contact-button {
    border: 0.125rem solid hsla(25, 76%, 80%,0.50);
    color: hsla(25, 76%, 80%,1);
}
.contact-button:hover {
    cursor: pointer;
    border: 0.125rem solid hsl(34, 78%, 70%);
    color: hsl(34, 78%, 70%);
}
.cv-button:hover {
    cursor: pointer;
}


