.projects-section,
.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects-section {
    min-height: 100vh;
}

.projects-container {
    height: 100%;
    width: 90vw;
    gap: 1.6rem;
    flex-wrap: wrap;

    @media (width>=900px) {
        flex-direction: row;
    }
}

.project-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 360px;
    border: var(--card-border);
    border-radius: 0.6rem;
    background: var(--bg-third);
    padding: 1.2rem;
    gap: 1.3rem;

    @media (width>=450px) {
        padding: 1.4rem;
    }
}

.project-img {
    /* display: none; */
    height: auto;
    width: auto;
    display: block;
    max-width: 100%;
    border-radius: 0.6rem;
}

.project-info {
    display: flex;
    flex-direction: column;
}

.project-desc {
    color: var(--text-secondary);
    font-size: 0.85rem;
    margin-bottom: 0.9rem;
    text-align: justify;
}

.project-techstack {
    color: var(--text-secondary);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.project-tech {
    border: var(--tag-border);
    padding: 0.4rem 0.8rem;
    border-radius: 0.6rem;
    font-size: 0.77rem;
    background-color: var(--bg-secondary);
}

.project-links {
    display: flex;
    gap: 1.3rem;
    color: var(--text-subheading);
}

.project-link {
    font-size: 0.9rem;
}