:root {
  --bg-main: hsl(240, 5%, 4%);
  --bg-secondary: hsla(0, 0%, 9%);
  --bg-gradient: linear-gradient(320deg, #0a0a0a 20%, #16213e 100%);

  --text-main: hsl(0, 0%, 96%);
  --text-secondary: hsla(0, 0%, 66%,1);
  --text-third: hsl(0, 0%, 20%);
  --text-subheading: hsl(25, 76%, 80%);;
  
  --color2: hsl(25, 76%, 80%);
  --chocolate: hsla(34, 78%, 70%);
  --sandy-brown: hsl(28, 87%, 67%);

  --emerald-green: #00C896;

  --card-border: 0.125rem solid hsla(27, 63%, 92%, 0.1); 
  --card-border-hover: 0.125rem solid hsla(34, 78%, 70%); 
  --img-border: 1px solid #16213e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
    line-height: 1.6rem;
    color: var(--text-main);
    background-color: var(--bg-main);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  padding-top: 4rem;
}

.section-header,
.section-subheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
}

.section-header {
  margin-bottom: 2rem;
}

.section-title {
  font-size: 2rem;
}

.section-subheader {
  align-items: start;
  justify-content: center;
  color: var(--chocolate);
}

.section-subtitle {
  margin-bottom: 0.5rem;
} 

.underline {
  height: 0.3rem;
  width: 20%;
  background-color: var(--text-main);
  border-radius: 0.6rem;
}